*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
}

#top{
  position:absolute;
  top:0px;
  left:1px;
  width: 100%;
  height: 16px;
  background-color: #0b3b45;
}

#content{
  max-width: 550px;
  margin: auto;
}

h1{
  margin: 0px;
  text-align: center;
  font-size: 400%;
}

h2{
  margin: 0px;
  text-align: center;
}

h3{
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #dcdcdc;
}

p{
  text-align: justify;
}

abbr{
  border-bottom: 1px dotted silver;
  cursor: help;
}

#content a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#logo{
  display: inline-block;
  margin-top: 30px;
}

#logo{
  font-family: Arial;
  font-weight: bold;
}
#logo::first-letter{
  font-style: italic;
}